/* ============================================= */
/* VARIABLES ----------------------------------  */
/* ============================================= */
:root {
  /* COLORS */
  --light-mint: #7fe0b0;
  --dark-mint: #39ad73;
  --dark-blue: #343a91;
  --light-blue: #5668d1;
  --dark-gray: #333333;
  --high-priority: #ff5f15;

  /* FONTS */
  --main-font: "Poppins", sans-serif;
  --title-font: "Lobster Two", cursive;
  --subtitle-font: "Poppins", sans-serif;
  --monospace-font: "Space Mono", monospace;
}

/* ============================================= */
/* LAYOUT / CONTAINER STYLES ------------------  */
/* ============================================= */
#root {
  margin: 0 100px;
}

html {
  background: linear-gradient(90deg, var(--light-mint), var(--dark-blue));
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--main-font);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, var(--light-mint), var(--dark-blue));
  margin: 0;
}

/* header styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px 0 10px 0;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: var(--title-font);
  font-size: 5em;
  font-weight: normal;
}

/* font sizes for phone / tablet */
@media (max-width: 1024px) {
  body {
    font-size: 0.9em;
  }
  h1 {
    font-size: 3em;
  }
}

/* LINK STYLES --------------------------------  */
a,
a:active,
a:visited {
  text-decoration: none;
  color: var(--dark-blue);
  border-bottom: 1px dotted var(--light-mint);
}

a:hover {
  color: var(--light-blue);
  border-bottom: 1px dotted var(--dark-mint);
}

#wishlistContainer {
  margin-bottom: 20px;
}

#wishlistContainer p {
  color: #fff;
  text-align: center;
}

/* ============================================= */
/* ROW STYLES ---------------------------------  */
/* ============================================= */
/* global row styles */
.wishlist-row,
.wishlist-header-row {
  display: grid;
  align-items: stretch;
  grid-template-columns: 50px 130px 2fr 2fr 100px 2fr;
}

/* phone css */
@media (max-width: 800px) {
  .wishlist-row,
  .wishlist-header-row {
    grid-template-columns: 50px 2fr 2fr 100px 2fr;
  }
}

/* header row only */
.wishlist-header-row {
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* high priority row only */
.wishlist-highpriority {
  color: var(--high-priority);
}

/* ============================================= */
/* COLUMN STYLES ------------------------------  */
/* ============================================= */
/* global column styles */
.wishlist-col,
.wishlist-header-col {
  display: grid;
  padding: 10px;
  text-align: center;
  margin: 2px;
  border-radius: 3px;
  align-items: center;
  justify-items: center;
}

/* header columns only */
.wishlist-header-col {
  background: #777;
}

/* alternate column colors  */
.wishlist-col {
  background: #fff;
}
.wishlist-row:nth-of-type(2n) .wishlist-col {
  background: #ededed;
}

/* PROPERTY-SPECIFIC COLUMN STYLES ------------  */
/*  priority column */
.wishlist-priority {
  color: var(--high-priority);
  font-size: 1.5em;
}

/* name column (phone only) */
@media (max-width: 800px) {
  .wishlist-name {
    border-left: 0;
  }
}
/* price column */
.wishlist-price {
  font-weight: bold;
}
/* details column */
.wishlist-details {
  padding-left: 20px;
  justify-items: left;
}

/* image column (image object style) */
.wishlist-img img {
  max-width: 100px;
}
