/* ============================================= */
/* VARIABLES ----------------------------------  */
/* ============================================= */
:root {
  /* COLORS */
  --light-mint: #7fe0b0;
  --dark-mint: #39ad73;
  --dark-blue: #343a91;
  --light-blue: #5668d1;
  --dark-gray: #333333;
  --idea: #9da8e7;
  --high-priority: #ff5f15;
  --high-priority-light: #ffc1a4;
  --alt-background: #fff;

  /* FONTS */
  --main-font: "Poppins", sans-serif;
  --title-font: "Lobster Two", cursive;
  --subtitle-font: "Poppins", sans-serif;
  --monospace-font: "Space Mono", monospace;
}

/* ============================================= */
/* LAYOUT / CONTAINER STYLES ------------------  */
/* ============================================= */
#root {
  margin: 0 10%;
}

@media (max-width: 1024px) {
  #root {
    margin: 0 5%;
  }
}

html {
  background: linear-gradient(90deg, var(--light-mint), var(--dark-blue));
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--main-font);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, var(--light-mint), var(--dark-blue));
  margin: 0;
}

/* header styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px 0 10px 0;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: var(--title-font);
  font-size: 5em;
  font-weight: normal;
}

.last-updated {
  font-size: 0.9em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 10px;
  opacity: 0.8;
}

/* LINK STYLES --------------------------------  */
a,
a:active,
a:visited {
  text-decoration: none;
  color: var(--dark-blue);
  border-bottom: 1px dotted var(--light-mint);
}

a:hover {
  color: var(--light-blue);
  border-bottom: 1px dotted var(--dark-mint);
}

#wishlistContainer {
  margin-bottom: 20px;
}

#wishlistContainer p {
  color: #fff;
  text-align: center;
}

/* ============================================= */
/* ROW STYLES ---------------------------------  */
/* ============================================= */
/* global row styles */
.wishlist-row {
  display: grid;
  align-items: stretch;
  border-bottom: 2px solid var(--light-mint);
  padding: 5px 0;
}

/* generic row style */
.wishlist-row-default {
  grid-template-columns: 2.5fr 1fr 1fr 1fr 2.5fr;
}

/* high priority row style */
.wishlist-row-highpriority {
  color: var(--high-priority);
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 2.5fr;
}

/* idea row style  */
.wishlist-row-idea {
  grid-template-columns: 1fr 2fr 5fr;
}

/* header row only */
.wishlist-header-row {
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* ============================================= */
/* COLUMN STYLES ------------------------------  */
/* ============================================= */
/* global column styles */
.wishlist-col,
.wishlist-header-col {
  display: grid;
  padding: 10px;
  text-align: center;
  margin: 2px;
  border-radius: 3px;
  align-items: center;
  justify-items: center;
}

/* header columns only */
.wishlist-header-col {
  background: #777;
}

/* alternate column colors  */
.wishlist-col {
  background: #fff;
}
.wishlist-row:nth-of-type(2n) .wishlist-col,
.wishlist-idea-row:nth-of-type(2n) .wishlist-col {
  background: var(--alt-background);
}

/* PROPERTY-SPECIFIC COLUMN STYLES ------------  */
/*  priority column */
.wishlist-priority {
  color: var(--high-priority);
  font-size: 0.8em;
  text-transform: uppercase;
  font-size: 0.8em;
}

.wishlist-idea {
  color: var(--light-blue);
  text-transform: uppercase;
  font-size: 0.8em;
}

/* price column */
.wishlist-price {
  font-weight: bold;
}
/* details column */
.wishlist-details {
  padding-left: 20px;
  justify-items: left;
}

/* image column (image object style) */
.wishlist-img img {
  max-width: 100%;
  border-radius: 5px;
}

.wishlist-row:nth-last-of-type(1) {
  border-bottom: 0;
}
